doctype html
include ../includes/mixins
- var title = "AngularJS"

+page(title)
  section.index-section(data-state="index-slide")
    +animated-header()
    h3 TD Amertrade JS Summit

  section
    h1
      i.fa.fa-github
    p These slides are up on GitHub!
    a(href="https://github.com/objectpartners/angular-training", target="_blank") objectpartners/angular-training

  section
    h2 Introduction
    ul
      li Bruce Coddington
        a(href="https://twitter.com/brucecoddington", target="_blank") (@brucecoddington)
      li bruce.coddington@tdameritrade.com
      li bruce.coddington@objectpartners.com

  section
    h2 Objectives
    ul
      li Share our experience building a production application using Angular JS
      li High level, firehose introduction to Angular's components
      li I love questions, don't be shy..you cannot derail me

  section
    h1 Topics
    ul
      li Data Binding
      li Factories and Providers
      li Custom Directives

    a(href="databinding.html", target="")