doctype html
include includes/mixins

+page("TDA JS Summit")
  section.index-page
    h2 AngularJS
    h4 Slides
    ul
      li
        a(href="slides/intro.html", target="_blank") Intro
      li
        a(href="slides/databinding.html", target="_blank") Binding
      li
        a(href="slides/providers.html", target="_blank") Providers
      li
        a(href="slides/directives.html", target="_blank") Directives
        
